/* Website_1366 */

position: relative;
width: 1366px;
height: 768px;
overflow-y: scroll;

/* Grey / 400 */
background: #BDBDBD;


/* Component 1 */

position: absolute;
width: 726px;
height: 281px;
left: 43px;
top: 160px;



/* Rectangle 3 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #C4C4C4;
border-radius: 8px;


/* cities */

position: absolute;
left: 32.51%;
right: 26.72%;
top: 49.82%;
bottom: 2.14%;

font-family: Srisakdi;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 96px;
text-align: center;

color: #000000;



/* ALGERIA */

position: absolute;
left: 11.29%;
right: 11.43%;
top: 8.9%;
bottom: 29.54%;

font-family: Simonetta;
font-style: normal;
font-weight: normal;
font-size: 120px;
line-height: 150px;
text-align: center;

color: #000000;



/* Component 2 */

position: absolute;
width: 474px;
height: 550px;
left: 847px;
top: 160px;



/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #837F7F;
border-radius: 10px;


/* Algeria has 48 cities characterized by its climatic and topographic diversity */

position: absolute;
left: 13.08%;
right: 13.08%;
top: 14.91%;
bottom: 9.27%;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 61px;
text-align: center;

color: #000000;



/* Component 3 */

position: absolute;
width: 522px;
height: 103px;
left: 166px;
top: 537px;



/* Rectangle 5 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #161515;
border-radius: 10px;


/* show algeria cities */

position: absolute;
left: 15.33%;
right: 15.52%;
top: 20.39%;
bottom: 20.39%;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 61px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Component 4 */

position: absolute;
width: 522px;
height: 103px;
left: 166px;
top: 537px;



/* Rectangle 5 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #161515;
border-radius: 10px;


/* show algeria cities */

position: absolute;
left: 15.33%;
right: 15.52%;
top: 20.39%;
bottom: 20.39%;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 61px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Navbar_1366 */

position: absolute;
width: 1366px;
height: 128px;
left: 0px;
top: 0px;



/* Navbar web */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #C4C4C4;


/* Icon/Search */

position: absolute;
visibility: hidden;
left: 95.21%;
right: 3.12%;
top: 37.5%;
bottom: 37.5%;

/* Grey / 500 */
background: #9E9E9E;


/* Icon/Menu */

position: absolute;
visibility: hidden;
left: 2.08%;
right: 96.25%;
top: 37.5%;
bottom: 37.5%;

/* Grey / 500 */
background: #9E9E9E;


/* Algeria cities */

position: absolute;
left: 42.08%;
right: 42.08%;
top: 29.69%;
bottom: 14.06%;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 61px;
text-align: center;

color: #000000;



/* Icon/Menu */

position: absolute;
left: 5.78%;
right: 91.87%;
top: 37.5%;
bottom: 37.5%;

/* Grey / 500 */
background: #9E9E9E;


/* Vector 1 */

position: absolute;
width: 14px;
height: 0px;
left: 9px;
top: 10px;

border: 1px solid #000000;


/* Vector 2 */

position: absolute;
width: 14px;
height: 0px;
left: 9px;
top: 16px;

border: 1px solid #000000;


/* Vector 3 */

position: absolute;
width: 14px;
height: 0px;
left: 9px;
top: 22px;

border: 1px solid #000000;


/* Icon/Search */

position: absolute;
left: 92.61%;
right: 5.05%;
top: 37.5%;
bottom: 37.5%;

/* Grey / 500 */
background: #9E9E9E;


/* Union */

position: absolute;
width: 18.5px;
height: 18.5px;
left: 7px;
top: 7px;

background: #000000;


/* Ellipse 2 */

position: absolute;
width: 16px;
height: 16px;
left: 9.5px;
top: 7px;

border: 1px solid #C4C4C4;
box-sizing: border-box;


/* Vector 1 */

position: absolute;
width: 5px;
height: 5px;
left: 7.5px;
top: 20px;

border: 1px solid #000000;

