/* Website_1366 */

position: relative;
width: 1366px;
height: 768px;
overflow-y: scroll;

/* Grey / 200 */
background: #F5F5F5;


/* Component 1 */

position: absolute;
width: 483px;
height: 224px;
left: 153px;
top: 188px;

background: #FFFFFF;


/* Rectangle 3 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E5E5E5;
border-radius: 8px;


/* cities */

position: absolute;
left: 32.92%;
right: 32.78%;
top: 60.27%;
bottom: -0.13%;

font-family: Srisakdi;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 60px;
text-align: center;

color: #000000;



/* ALGERIA */

position: absolute;
left: 11.29%;
right: 11.43%;
top: 8.9%;
bottom: 29.54%;

font-family: Simonetta;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 125px;
text-align: center;

color: #000000;



/* Component 3 */

position: absolute;
width: 368px;
height: 63px;
left: 211px;
top: 601px;

background: #FFFFFF;


/* Rectangle 5 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #C4C4C4;
border-radius: 10px;


/* show algeria cities */

position: absolute;
left: 15.33%;
right: 15.52%;
top: 20.39%;
bottom: 20.39%;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #000000;



/* Navbar_1366 */

position: absolute;
width: 1366px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Navbar web */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Grey / 300 */
background: #E0E0E0;


/* Icon/Search */

position: absolute;
visibility: hidden;
left: 95.21%;
right: 3.12%;
top: 37.5%;
bottom: 37.5%;

/* Grey / 500 */
background: #9E9E9E;


/* Icon/Menu */

position: absolute;
visibility: hidden;
left: 2.08%;
right: 96.25%;
top: 37.5%;
bottom: 37.5%;

/* Grey / 500 */
background: #9E9E9E;


/* Algeria cities */

position: absolute;
left: 42.08%;
right: 42.08%;
top: 29.69%;
bottom: 14.06%;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #000000;



/* Icon/Search */

position: absolute;
left: 93.56%;
right: 4.1%;
top: 30%;
bottom: 30%;

/* Grey / 500 */
background: #9E9E9E;


/* Union */

position: absolute;
width: 18.5px;
height: 18.5px;
left: 7px;
top: 7px;

background: #000000;


/* Ellipse 2 */

position: absolute;
width: 16px;
height: 16px;
left: 9.5px;
top: 7px;

border: 1px solid #C4C4C4;
box-sizing: border-box;


/* Vector 1 */

position: absolute;
width: 5px;
height: 5px;
left: 7.5px;
top: 20px;

border: 1px solid #000000;


/* Icon/Menu */

position: absolute;
left: 4.9%;
right: 92.75%;
top: 30%;
bottom: 30%;

/* Grey / 500 */
background: #9E9E9E;


/* Vector 1 */

position: absolute;
width: 14px;
height: 0px;
left: 9px;
top: 10px;

border: 1px solid #000000;


/* Vector 2 */

position: absolute;
width: 14px;
height: 0px;
left: 9px;
top: 16px;

border: 1px solid #000000;


/* Vector 3 */

position: absolute;
width: 14px;
height: 0px;
left: 9px;
top: 22px;

border: 1px solid #000000;


/* Component 2 */

position: absolute;
width: 449px;
height: 163px;
left: 861px;
top: 505px;

/* Grey / 300 */
background: #E0E0E0;


/* Rectangle 4 */

position: absolute;
left: -0.38%;
right: -0.01%;
top: 0%;
bottom: 0%;

/* Grey / 300 */
background: #E0E0E0;
border-radius: 10px;


/* Algeria has 48 cities characterized by its climatic and topographic diversity */

position: absolute;
left: 13.21%;
right: 8.87%;
top: 21%;
bottom: 30.59%;

font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #000000;


